body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 990px;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    padding: 15px 30px;
    background-color: black;

    width: 100%;
    
}
.netflix-logo {
    width: 150px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-link:hover {
    opacity: 0.7;
}
.log-in-section {
    max-width: 400px;
    padding:40px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 20px black;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
}
.sign-in{
    text-align: center;
    margin:10px;
}
.content {
    text-align: center;
    z-index: -1;
}
.content p{
    text-decoration: none;
    color: white;
    text-align: center;
}
.content a{
    text-decoration: none;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
footer {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
footer p {
    margin: 0;
}
footer nav {
    margin-top: 10px;
}
footer nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}