body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 990px;
    width: 100%;
}

.log-in-section {
    max-width: 400px;
    padding:40px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}
.sign-in{
    text-align: center;
    margin:10px;
}
.content {
    text-align: center;
    z-index: -1;
}
.content p{
    text-decoration: none;
    color: white;
    text-align: left;
}
.content a{
    text-decoration: none;
    text-align: right;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}