/* for main body */
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	padding: 0;
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 45px;
}

/* for header section */
header {
	background-color: red;
	display: flex;
	border-radius: 5px;
	align-items: center;
	z-index: 1000;
	position: static;
	width: auto;
	width: 100%;
}

/* for navigation bar/menu */
nav {
	margin-left: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

li {
	color: white;
	padding: 5px;
	width: 100px;
	text-align: center;
}

li:hover {
	color: black;
	background-color: black;
}

li a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 15px;
	font-weight: 100;
	color: white;
}

/* for main part */
main {
	max-width: 1200px;
	margin: 0;
	padding: 0;
}

.tile {
	background-color: lavender;
	font-family: verdana;
	padding: 30px;
	text-align: center;
}

.tile h1 {
	font-size: 36px;
	color: black;
	margin: 20px;
}

/* for social-links */
.social-links a {
	margin: 20px;
	text-decoration: none;
}

.facebook {
	display: inline-block;
	color: black;
	font-size: inherit;
	text-align: center;
	height: 3em;
	overflow: visible;
	vertical-align: -0.25em;
}

.whatsapp {
	display: inline-block;
	color: black;
	font-size: inherit;
	text-align: center;
	height: 3em;
	overflow: visible;
	vertical-align: -0.25em;
}

/* for about-section */
.about-content {
	margin: 0;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	font-family: Verdana;
	background-color: pink;
}

.about-content a {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Verdana;
	background-color: pink;
}

.about-content h2 {
	text-align: center;
	font-size: 45px;
}

/* for facilities-section */

.facilities-section {
	background-color: lavender;
	height: 100%;
	width: 100%;
	padding-bottom: 20px;
}

.facilities-section ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.facilities-section li {
	width: 24%;
	margin-bottom: 10px;
	background-color: royalblue;
	padding: 15px;
	text-align: center;
}

/* for achivement-section */
.achivement-section {
	background-color: pink;
	padding: 20px;
}

.achivement-content {
	font-size: 20px;
	font-family: Verdana;
	text-align: center;
}

#gallery-row {
	width: 100%;
}

/* for academics section */
.academics-section {
	padding: 0;
	font-size: 20px;
}

.academics-content {
	margin: 0;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	font-family: Verdana;
	background-color: lavender;
}

/* for gallery section */
.gallery-section {
	background-color: pink;
}

.gallery-item img {
	max-width: 98%;
  border: 2px solid black;
	border-radius: 25px;
}

.gallery-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.gallery-item {
	width: 33%;
}

/* for details */

.details-section {
	text-align: center;
	padding: 30px;
	margin: 0px;
	background-color: lavender;
}

.details-section h1 {
	font-size: 40px;
  font-family: verdana;
}

.action-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #FF0000;
	color: #FFFFFF;
	text-decoration: none;
	transition: 0.3s, color 0.3s;
}

.action-button:hover {
	background-color: black;
	color: white;
}

/* for contact-section */
.contact-section {
	text-align: center;
	font-size: 40px;
	background-color: pink;
	color: black;
	padding: 20px;
}

.contact-section p {
	margin-bottom: 10px;
	text-align: left;
	font-size: 25px;
}

.contact-section a {
	text-decoration: none;
}

.email{
  color: black;
}

.email:hover{
  color: red;
}

/* for footer section */
footer {
	background-color: black;
	color: white;
	padding: 20px;
}

.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}