.navbar ul li{
    display: block;
    text-decoration: none;
    justify-content: space-between;
    color: black;
    line-height:40px;
    font-style: verdana;
    font-size: 18px;
}
.navbar a{
    display: block;
    text-decoration: none;
    justify-content: space-between;
    color: black;
}