/* for main body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

 h2 {
  text-align: center;
  font-size: 45px;
}
/* for header section */
header {
  background-color: red;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: static;
  width: auto;
  width: 100%;
}
/* for navigation bar/menu */
nav {
  margin-left: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  color: white;
  padding: 5px;
  width: 100px;
  text-align: center;
}

li:hover {
  color: black;
  background-color: black;
}

li a {
  text-decoration: none;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 100;
  color: white;
}
/* for main part */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.tile {
  background-color: cadetblue;
  font-family: verdana;
  padding: 30px;
  text-align: center;
}

.tile h1 {
  font-size: 36px;
  
  color: #444;
  margin: 20px;
}
/* for social-links */
.social-links a {
  margin-right: 10px;
  text-decoration: none;
}
/* for about-section */
.about-content {
  margin: 25px;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  font-family: Verdana;
  background-color: cadetblue;
}

.about-content a{
  margin: 25px;
  padding: 15px;
  text-align: center;
  font-family: Verdana;
  background-color: cadetblue;
}

.about-content h2 {
  text-align: center;
  font-size: 45px;
}
/* for facilities-section */
.facilities-section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.facilities-section li {
  width: 24%; 
  margin-bottom: 10px;
  background-color: royalblue;
  padding: 15px;
  text-align: center;
}
/* for academics section */
.academics-section{
  padding: 20px;
  font-size: 20px;
  }

.academics-content{
margin: 25px;
padding: 15px;
text-align: center;
font-family: Verdana;
background-color: cadetblue;
}
/* for gallery section */
.gallery-section{
  background-color: cadetblue;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  border-radius:30px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.gallery-item {
  width: 32%;
}
/* for contact-section */
.contact-section{
  text-align: center;
  font-size: 40px;
  background-color: #444;
  color:whitesmoke;
   padding: 20px;
}

.contact-section p {
  margin-bottom: 10px;
  text-align: left;
  font-size: 25px;
}
/* for footer section */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}